body{
    background-color:#75B8C8;
}
h1{
    text-align: center;
    color: #4B1B23;
}
.calculator {
    width: 500px;
    border: 2px solid #ccc;
    border-radius: 7px;
    padding: 10px;
    margin: 40px auto;
    border: 2px solid #220C10;
}
#result{
    height: 75px;
    width: 98.5%;
    color: green;

}
.calculator input[type="text"] {
    text-align: right;
    font-size: 22px;
}
#color{
    background-color: #506C64;
}
.calculator .buttons {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
   
}

.calculator button {
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: #eee;
    color: #4B1B23;
    border-radius: 5px;
}

.calculator button:hover {
    background-color: #ddd;
}
